In [33]:
import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

In [34]:
#membaca file
df = pd.read_csv('https://github.com/Adkurrr/prediction-of-the-number-of-pregnant-women-in-west-Java-province/blob/main/dinkes-od_17485_jumlah_ibu_hamil_berdasarkan_kabupatenkota_data.csv?raw=true')
df.head()

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jumlah_ibu_hamil,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,126474,ORANG,2016
1,2,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,51056,ORANG,2016
2,3,32,JAWA BARAT,3203,KABUPATEN CIANJUR,46284,ORANG,2016
3,4,32,JAWA BARAT,3204,KABUPATEN BANDUNG,79912,ORANG,2016
4,5,32,JAWA BARAT,3205,KABUPATEN GARUT,62514,ORANG,2016

In [35]:
#mengecek data kosong
is_null = df.isnull().any().any()
print(is_null)

False

In [36]:
#memilih kolom yang digunakan
df.columns
selected_columns = ['id', 'kode_kabupaten_kota', 'nama_kabupaten_kota', 'jumlah_ibu_hamil','tahun']
selected_data = df.loc[:, selected_columns]
selected_data.head()

   id  kode_kabupaten_kota nama_kabupaten_kota  jumlah_ibu_hamil  tahun
0   1                 3201     KABUPATEN BOGOR            126474   2016
1   2                 3202  KABUPATEN SUKABUMI             51056   2016
2   3                 3203   KABUPATEN CIANJUR             46284   2016
3   4                 3204   KABUPATEN BANDUNG             79912   2016
4   5                 3205     KABUPATEN GARUT             62514   2016

In [37]:
#mengubah tipe data
selected_data.dtypes

id                      int64
kode_kabupaten_kota     int64
nama_kabupaten_kota    object
jumlah_ibu_hamil        int64
tahun                   int64
dtype: object

In [38]:
selected_data['tahun'] = selected_data['tahun'].astype(str)
selected_data.dtypes

id                      int64
kode_kabupaten_kota     int64
nama_kabupaten_kota    object
jumlah_ibu_hamil        int64
tahun                  object
dtype: object

Prediksi jumlah ibu hamil dengan model jaringan saraf tiruan (JST)

In [39]:
selected_data.columns

Index(['id', 'kode_kabupaten_kota', 'nama_kabupaten_kota', 'jumlah_ibu_hamil',
       'tahun'],
      dtype='object')

In [40]:
#mempersiapkan fitur dan target
features = selected_data['tahun'].values.reshape(-1,1)
target = selected_data['jumlah_ibu_hamil'].values

#normalisasi fitur
scaler = MinMaxScaler()
features = scaler.fit_transform(features)

#pembagian data pelatihan dan data pengujian
features_train, features_test, target_train, target_test = train_test_split(features, target, test_size=0.2, random_state=42)

#membuat model jst
model = tf.keras.Sequential([
    tf.keras.layers.Dense(64, activation='relu', input_shape=(1,)),
    tf.keras.layers.Dense(64, activation='relu'),
    tf.keras.layers.Dense(1)
])

model.compile(optimizer='adam', loss='mean_squared_error')

#pelatihan model
model.fit(features_train, target_train, epochs=50, batch_size=32, verbose=1)

#evaluasi model
loss = model.evaluate(features_test, target_test)
print("Mean Squared Error :", loss)

#prediksi tahun yang akan datang
tahun_datang = np.array([[2023]])
tahun_datang = scaler.transform(tahun_datang)
prediksi_ibu_hamil = model.predict(tahun_datang)
print("prediksi jumlah ibu hamil pada tahun 2023 :", prediksi_ibu_hamil)

Epoch 1/50
4/4 [==============================] - 1s 4ms/step - loss: 1900911744.0000
Epoch 2/50
4/4 [==============================] - 0s 3ms/step - loss: 1900903936.0000
Epoch 3/50
4/4 [==============================] - 0s 3ms/step - loss: 1900896000.0000
Epoch 4/50
4/4 [==============================] - 0s 3ms/step - loss: 1900888576.0000
Epoch 5/50
4/4 [==============================] - 0s 3ms/step - loss: 1900880128.0000
Epoch 6/50
4/4 [==============================] - 0s 3ms/step - loss: 1900871168.0000
Epoch 7/50
4/4 [==============================] - 0s 3ms/step - loss: 1900861696.0000
Epoch 8/50
4/4 [==============================] - 0s 3ms/step - loss: 1900850688.0000
Epoch 9/50
4/4 [==============================] - 0s 3ms/step - loss: 1900839552.0000
Epoch 10/50
4/4 [==============================] - 0s 3ms/step - loss: 1900826624.0000
Epoch 11/50
4/4 [==============================] - 0s 3ms/step - loss: 1900811904.0000
Epoch 12/50
4/4 [==============================] - 0s 3ms/step - loss: 1900795776.0000
Epoch 13/50
4/4 [==============================] - 0s 4ms/step - loss: 1900776832.0000
Epoch 14/50
4/4 [==============================] - 0s 3ms/step - loss: 1900755200.0000
Epoch 15/50
4/4 [==============================] - 0s 3ms/step - loss: 1900732288.0000
Epoch 16/50
4/4 [==============================] - 0s 3ms/step - loss: 1900706048.0000
Epoch 17/50
4/4 [==============================] - 0s 3ms/step - loss: 1900676608.0000
Epoch 18/50
4/4 [==============================] - 0s 3ms/step - loss: 1900643712.0000
Epoch 19/50
4/4 [==============================] - 0s 3ms/step - loss: 1900606848.0000
Epoch 20/50
4/4 [==============================] - 0s 3ms/step - loss: 1900567936.0000
Epoch 21/50
4/4 [==============================] - 0s 3ms/step - loss: 1900522880.0000
Epoch 22/50
4/4 [==============================] - 0s 3ms/step - loss: 1900474112.0000
Epoch 23/50
4/4 [==============================] - 0s 3ms/step - loss: 1900421376.0000
Epoch 24/50
4/4 [==============================] - 0s 4ms/step - loss: 1900363904.0000
Epoch 25/50
4/4 [==============================] - 0s 3ms/step - loss: 1900298752.0000
Epoch 26/50
4/4 [==============================] - 0s 3ms/step - loss: 1900233344.0000
Epoch 27/50
4/4 [==============================] - 0s 3ms/step - loss: 1900158464.0000
Epoch 28/50
4/4 [==============================] - 0s 3ms/step - loss: 1900077312.0000
Epoch 29/50
4/4 [==============================] - 0s 3ms/step - loss: 1899989376.0000
Epoch 30/50
4/4 [==============================] - 0s 3ms/step - loss: 1899895424.0000
Epoch 31/50
4/4 [==============================] - 0s 3ms/step - loss: 1899796608.0000
Epoch 32/50
4/4 [==============================] - 0s 6ms/step - loss: 1899687424.0000
Epoch 33/50
4/4 [==============================] - 0s 5ms/step - loss: 1899567616.0000
Epoch 34/50
4/4 [==============================] - 0s 3ms/step - loss: 1899446528.0000
Epoch 35/50
4/4 [==============================] - 0s 3ms/step - loss: 1899310336.0000
Epoch 36/50
4/4 [==============================] - 0s 3ms/step - loss: 1899173376.0000
Epoch 37/50
4/4 [==============================] - 0s 4ms/step - loss: 1899020544.0000
Epoch 38/50
4/4 [==============================] - 0s 3ms/step - loss: 1898866176.0000
Epoch 39/50
4/4 [==============================] - 0s 3ms/step - loss: 1898699904.0000
Epoch 40/50
4/4 [==============================] - 0s 3ms/step - loss: 1898525184.0000
Epoch 41/50
4/4 [==============================] - 0s 3ms/step - loss: 1898336768.0000
Epoch 42/50
4/4 [==============================] - 0s 3ms/step - loss: 1898134656.0000
Epoch 43/50
4/4 [==============================] - 0s 3ms/step - loss: 1897935104.0000
Epoch 44/50
4/4 [==============================] - 0s 3ms/step - loss: 1897708032.0000
Epoch 45/50
4/4 [==============================] - 0s 3ms/step - loss: 1897483136.0000
Epoch 46/50
4/4 [==============================] - 0s 3ms/step - loss: 1897235968.0000
Epoch 47/50
4/4 [==============================] - 0s 3ms/step - loss: 1896982016.0000
Epoch 48/50
4/4 [==============================] - 0s 5ms/step - loss: 1896725504.0000
Epoch 49/50
4/4 [==============================] - 0s 3ms/step - loss: 1896442752.0000
Epoch 50/50
4/4 [==============================] - 0s 3ms/step - loss: 1896161024.0000
1/1 [==============================] - 0s 107ms/step - loss: 2738273024.0000
Mean Squared Error : 2738273024.0
1/1 [==============================] - 0s 60ms/step
prediksi jumlah ibu hamil pada tahun 2023 : [[142.64668]]